@import '../importMe.module.scss';

.root {
    background-color: #181818;
}

.text {
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.image {
    background-image: url('./code-image.png');
    background-size: cover;
    height: 100vh;
}

.smallImage {
    // This image will end up as an embedded, base64 encoded data url instead
    // of a path to the corresponding asset in the build.
    background-image: url('./less-than-10kb.png');
    background-size: cover;
    height: 24px;
    width: 32px;
}
